.content_body_home{
    width: 100dvw;
    height: 100%;
    background-color: none;
    background-size: cover;
    background-image: url(./assets/imgs/stars.png);
}


.content_body_home > .container > .img_side > .img_holder > img{
    width: 35dvw;
    padding-right: 100px;
    
}
.content_body_home > .container{
    width: 100%;
    height: 100%;
    background-color: none;
    display: flex;
    flex-direction: row;
}
.content_body_home > .container > .text_side{
    width: 60%;
    background-color: none;
    font-family: 'Quicksand';
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.content_body_home > .container > .text_side > .text_holder > .desc > .greetings{
    color: white;
    font-size: 4rem;
    background-color: none;
    font-weight: bold;
}
.content_body_home > .container > .img_side{
    width: 40%;
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
}




@media only screen and (max-width: 950px)  {
    .content_body_home > .container{
        flex-direction: column-reverse;
        justify-content: start;
    }
    .content_body_home > .container > .img_side{
    
        width: 100%;
        height:auto;
        padding-top: 3dvh;

    }

    .content_body_home > .container > .text_side{
        width: 100%;

        
    }
    .content_body_home > .container > .img_side > .img_holder > img{
        height: auto;
        width: 80dvw;
        padding-right: 0px;
    }
}