*{
    margin: 0;
    padding: 0;
    border: 0;
    box-shadow: unset;

    font-family: 'Quicksand';
}
body{
    background-color: var(--website-bg-1);
    background-image: url(../imgs/stars.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    
}
:root{
    --website-green: #188E56;
    --website-yellow: #F0AF2C;
    --website-bg-1: #151C22;
    --website-bg-2: #0A1115;
    --website-btn-color: #1F282F;
}